<div class="container d-flex justify-content-center mt-5">
  <form action="/actualizar/{{id}}"  method="post" >
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">{{titulo}}</label>
      
      
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Actualizar Sinopsis</label>
      <textarea name="newSinopsis" type="text" class="form-control" id="exampleInputPassword1" ></textarea>
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>