<div class="container d-flex justify-content-center mt-5">
  <form action="/crear" method="post">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Titulo</label>
      <input
        type="text"
        class="form-control"
        id="exampleInputEmail1"
        name="titulo"
      />
      
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Sinopsis</label>
      <textarea name="sinopsis" type="text" class="form-control" id="exampleInputPassword1" ></textarea>
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>