<div class="container d-flex justify-content-center">
  <div>
    <h1>CRUD con Handlebars, Express y Node Js</h1>
    <a class="btn btn-primary" href="/crear">Crear una nueva pelicula</a>

  </div>
</div>